<link rel="stylesheet" href="https://stackpath.bootstrap/favicon.icocdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


{% block content %}
{% if error %}
<div class="container">
<div class="alert alert-warning">
    <h5><b>Warning!</b> {{ error }}</h5>
</div>
</div>
{% endif %}
<h1>Login!</h1>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    Username:
    <br />
    <input type="text" name="username" />
    <br />
    Password:
    <br />
    <input type="password" name="password" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit"  value="Login!" />
</form>
<hr />
<a href="{% url 'register' %}">Register</a>
{% endblock %}
